<aside>
	<div class="panel radius">
		<h3>Qui sommes-nous?</h3>
		<p>
			Nous sommes quelques habitants du Valentinois, résidant sur les deux rives du Rhône; nous avons créé cette OuebTV, ou WebTV, dans le but d’essayer de rendre compte de la vie quotidienne de ce territoire, avec vous et pour vous.

Pour nous, l’agglomération comprend uniquement les communes dont vous voyez les logos affichés en haut et à droite de l’écran : c’est-à-dire celles entre lesquelles les échanges socio-économiques, culturels, administratifs, etc., sont les plus fréquents.

Nous souhaitons diffuser toutes les informations émanant des habitants, quels qu’ils soient: simples citoyens comme nous, élus, responsables économiques, acteurs sociaux et culturels, etc. Néanmoins, notre priorité sera de donner la possibilité de s’exprimer aux citoyens de base sur les sujets qu’ils choisiront, et de faire connaître les structures de l’économie sociale et solidaire.
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>
